.heading {
    background-color: rgb(37, 65, 1);
    font-family: 'Fira Sans', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    height: 58px;
    justify-content: center;
    align-items: center;
    width: 1250px;
}

.head-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5rem;
    margin-right: auto;
    margin-left: 10px;
}

.head-right {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.95rem;
    cursor: pointer;
    margin-right: 10px;
}

.ri-leaf-fill {
    font-size: 2.1rem;
    color: white;
    text-decoration: none;
}

.head-link {
    text-decoration: none;
    cursor: pointer;
    color: white;
    margin-right: 15px;
}

.head-link:hover {
    font-weight: 600;
}